<section fxLayout="row" fxLayoutAlign="space-around start">
  <div
    class="footer-item"
    fxLayout="column"
    fxLayoutGap="1rem"
    fxHide.xs="true"
  >
    <div class="title-item"></div>
    <p class="info-item"></p>
    <p class="info-item"></p>
    <p class="info-item"></p>
  </div>
  <div
    class="footer-item"
    fxLayout="column"
    fxLayoutGap="1rem"
    fxHide.xs="true"
  >
    <div class="title-item"></div>
    <p class="info-item"></p>
    <p class="info-item"></p>
    <p class="info-item"></p>
  </div>
  <div class="footer-item" fxLayout="column" fxLayoutGap="1rem">
    <div class="title-item"></div>
    <p class="info-item"></p>
    <p class="info-item"></p>
    <p class="info-item"></p>
  </div>
  <div class="footer-item" fxLayout="column" fxLayoutGap="1rem">
    <div class="title-item"></div>
    <div fxLayout="row" fxLayoutGap="1rem">
      <p class="info-icon"></p>
      <p class="info-icon"></p>
      <p class="info-icon"></p>
    </div>
  </div>
</section>
